:root,
.app.ligth {
 --bg-color: rgb(232 232 232);
    --inverted-primary-color: rgb(0 17 255);
    --inverted-secondary-color: rgb(7 0 138);
    --primary-color: rgb(50 53 97);
    --secondary-color: rgb(0 0 0);
}